* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --color-primary: #242424;
  --color-secundary: #3a3939;
  --font-color: #ebe8e8;
}

/* Define o tamanho da fonte do placeholder */
::placeholder {
  font-size: 16px; /* Altere o valor conforme desejado */
  padding-top: 8px;
}

body {
  background-color: var(--color-primary);
  margin: 0 auto;
  color: var(--font-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  height: 88px;
  padding: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.banner .email-contato {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  width: 642px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

header div p {
  display: none;
}

.apresentacao {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 368px;
  padding: 32px;
}

.perfil {
  width: 350px;
  height: 360px;
  border-radius: 50%;
  padding-bottom: 16px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
}

.hero__title {
  order: 1;
  font-size: 52px;
}

.descricao {
  font-size: 22px;
  margin-top: 16px;
}

span {
  color: rgb(52, 61, 236);
}

.redes__sociais ul {
  display: flex;
  justify-content: space-around;
  padding: 32px;
}

.fa-brands,
.fa-regular {
  font-size: 40px;
}

.sobre-mim,
.hobbies {
  background-color: var(--color-secundary);
  width: 100%;
  padding: 32px;
}

.sobre-mim__title {
  text-align: center;
  font-size: 32px;
  padding: 32px;
}

.sobre-mim__text {
  margin-top: auto;
  margin-bottom: 32px;
}

.skills,
.hobbies,
.formacao,
.projetos,
.contato {
  padding: 32px;
}

.skill__title,
.hobbies__title {
  font-size: 32px;
  text-align: center;
  padding: 32px;
}

.skills__grid,
.hobbies__grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.language,
.atividades {
  width: 176px;
  height: 174px;
  background-color: var(--color-secundary);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

.atividades {
  background-color: var(--color-primary);
}

.language .fa-brands,
.fa-solid,
.fa-sharp {
  font-size: 32px;
}

.formacao__title {
  font-size: 32px;
  padding: 32px;
  text-align: center;
}

.escola {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image__escola {
  background-color: #fff;
  padding: 16px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secundary);
}

.projetos_title {
  text-align: center;
  font-size: 32px;
  padding: 32px;
}

#projeto__um,
#projeto__tres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 16px;
}

.image img {
  width: 772px;
  height: 426px;
}

button {
  width: 118px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}

.repo {
  background-color: var(--color-secundary);
  border: 1px solid var(--font-color);
}

.demo {
  border: none;
}

.demo a {
  color: var(--color-secundary);
}

.campo__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#projeto__dois {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
}

#projeto__tres {
  margin-top: 16px;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contato__img img {
  width: 464px;
  height: 593px;
}

.contato__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 596px;
}

.contato__title {
  font-size: 32px;
}

.contato__texto {
  margin-top: 8px;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campo-texto {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  color: var(--color-secundary);
  font-weight: 600;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

#mensagem {
  padding: 8px;
}

.enviar {
  color: var(--font-color);
  font-weight: 600;
}

footer {
  background-color: var(--color-secundary);
  text-align: center;
  padding: 32px;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 768px) {
}
