* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --color-primary: #242424;
  --color-secundary: #3a3939;
  --font-color: #ebe8e8;
}

/* Define o tamanho da fonte do placeholder */
::placeholder {
  font-size: 16px; /* Altere o valor conforme desejado */
  padding-top: 8px;
}

body {
  background-color: var(--color-primary);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  font-size: 22px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

/* ÁREA DO CABEÇALO */

header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  padding: 16px;
}

header div h3 {
  font-size: 16px;
}

.logo {
  display: flex;
  gap: 10px;
  color: var(--font-color);
}

.fa-solid .fa-laptop-file .fa-beat {
  width: 20px;
  height: 20px;
}

.menu__list {
  display: none;
}

.email-contato p {
  display: block;
  font-size: 14px;
}

/* ÁREA DE APRESENTAÇÃO */

.apresentacao {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
}

.perfil {
  width: 100px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

span {
  background-color: var(--font-color);
  color: var(--color-primary);
  border-radius: 8px;
  padding: 0px 5px;
}

.hero__title {
  font-size: 22px;
  order: 1;
}

.descricao {
  font-size: 14px;
}

.redes__sociais ul {
  display: flex;
  justify-content: space-around;
}

.fa-brands,
.fa-regultar,
.fa-file-zipper {
  font-size: 24px;
}

/* ÁREA SOBRE MIM */
.sobre-mim {
  padding: 16px;
  background-color: var(--color-secundary);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signature {
  width: 140px;
  height: 52px;
}

/* ÁREA DAS SKILLS */
.skills, .hobbies, .formacao, .projetos, .contato, .rodape {
  padding: 16px;
}

.skill__title, .hobbies__title, .formacao__title, .projetos_title, .contato__title {
  text-align: center;
  padding: 16px;
}

.skills__grid, .hobbies__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 32px;
}

.language, .atividades {
  width: 156px;
  height: 118px;
  background-color: var(--color-secundary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 16px;
  border-radius: 8px;
}

.hobbies, .projetos {
  background-color: var(--color-secundary);
}

.atividades {
  background-color: var(--color-primary);
}

/* ÁREA DE FORMAÇÃO ACADÊMICA */

.formacao {
  display: flex;
  flex-direction: column;
}

.escola {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image__escola {
  background-color: var(--font-color);
}

/* ÁREA DE PROJETOS */

.projetos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#projeto__um, #projeto__dois, #projeto__tres {
  display: flex;
  flex-direction: column;
  width: 296px;
  margin: 0 auto;
  gap: 8px;
}

.image {
  width: 296px;
  margin: 0 auto;
}

.projetos img {
  width: 290px;
  height: 118px;
  margin: 0 auto;
}

.campo__links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  width: 108px;
  border-radius: 8px;
  padding: 5px 8px;
}

.repo {
  background-color: var(--color-secundary);
  border: 1px solid var(--font-color);
}

.demo {
  border: none;
  font-weight: 500;
}

.demo a {
  color: var(--color-secundary);
}

/* ÁREA DE CONTATOS */
.contato {
  margin: 0 auto;
}

.contato__img {
  display: none;
}

.contato__conteudo {
  display: flex;
  flex-direction: column;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.campo-texto {
  background-color: var(--font-color);
  border-radius: 8px;
  padding: 8px;
  color: var(--color-secundary);
  font-weight: 600;
}

textarea {
  width: 100%;
  border-radius: 8px;
  text-align: center;
  background-color: var(--font-color);
  border: none;
}

footer {
  background-color: var(--color-secundary);
  text-align: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
