:root {
  --color-primary: #242424;
  --color-secundary: #54585d;
  --font-color: #fff;
}

body {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul {
        list-style: none;
}

/* ÁREA DO HEADER */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.menu__list {
  display: none;
}

.menu__list__item__contato a {
  font-size: 14px;
}

.all {
        display: flex;
        flex-direction: column;
}

/* ÁREA DO TITLE */
.title {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid orangered;
}

.title__div {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.title__profile {
        width: 98px;
}

.title__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.title__bio {
        font-size: 22px;
}

span {
        background-color: var(--font-color);
        color: var(--color-secundary);
        border-radius: 8px;
        padding: 0px 5px;
}

.title__subsection {
        font-size: 14px;
}

.title__network {
        display: flex;
        justify-content: space-around;
}

.title__network__item i {
        font-size: 22px;
}

/* ÁREA SOBRE MIM */
.about {
        background-color: var(--color-secundary);
        width: 100%;
        padding: 16px;
        border: 1px solid orange;
}

.about__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.about__title, .skills__title, .hobbies__title {
        font-size: 22px;
}

.about__paragraph {
        font-size: 14px;
}

.signature {
        width: 140px;
}

/* ÁREA DE SKILLS E HOBBIES */

.skills, .hobbies, .academic {
        padding: 16px;
        display: flex;
        flex-direction: column;
        border: 1px solid yellow;
}

.skills__title, .hobbies__title, .academic__title {
        text-align: center;
}

.skills__line, .hobbies__line {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        justify-content: space-between;
        margin: 32px 16px;
        gap: 32px;
}

.skills__box, .hobbies__box {
        width: 156px;
        height: 118px;
        padding: 16px;
        background-color: var(--color-secundary);
        border-radius: 8px;
        display: flex;
        align-items: end;
        border: 1px solid blue;
}

.skills__box ul, .hobbies__box ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
}

.skills__img, .hobbies__img i {
        font-size: 32px;
}

.skills__name, .hobbies__name {
        font-size: 16px;
}

/* ÁREA ACADÊMICA */

.academic {
        display: flex;
        gap: 32px;
}
.academic__courses{
        display: flex;
        flex-direction: column;
        gap: 32px;
}

.academic__courses__box {
        width: 296px;
        margin: 0 auto;
}

.academic__courses__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
}

.academic__courses__item__img {
        background-color: var(--font-color);
        width: 296px;
}

.academic__courses__item__title {
        font-size: 16px;
}

.academic__courses__item__subtitle {
        font-size: 14px;
}